.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  background-color: #ede9eb;

  .side-bar {
    width: 10%;
    background-color: #009de0;
    margin: 10px;
    box-shadow: none;
    color: #fff;
  }

  .main-content {
    width: 90%;
    background-color: #fff;
    box-shadow: none;
    margin: 10px;
  }
}
