<h1>Last workouts</h1>
<div
  class="item-container"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="0"
  [scrollWindow]="false"
  (scrolled)="onScrollDown()"
>
  <mat-accordion>
    <mat-expansion-panel
      *ngFor="let workout of workouts"
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
      class="item"
    >
      <mat-expansion-panel-header
        [collapsedHeight]="'100px'"
        [expandedHeight]="'100px'"
        class="header"
      >
        <mat-panel-title class="item-title">
          <div class="icon-wrapper">
            <mat-icon aria-hidden="false" aria-label="Workout Icon" class="icon"
              >fitness_center</mat-icon
            >
          </div>

          <div class="title-info">
            <p>{{ workout.name }}</p>
            <span>{{ workout.type }}</span>
            <span>{{ workout.date | date: "fullDate" }}</span>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="item-body">
        <p class="body-title">Exercises</p>
        <mat-list role="list" class="exercises-list">
          <app-exercise-overview></app-exercise-overview>
        </mat-list>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
