h1 {
  margin: 20px;
  font-weight: bold;
}

.item {
  box-shadow: none;
  background-color: #fff;
  margin: 10px 20px;
  border-radius: 0;

  .header {
    padding: 0;
    height: 100%;

    .item-title {
      height: 100%;
      display: flex;
      align-items: center;

      .title-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 90%;
        padding: 20px;

        p {
          color: #000;
          margin: 0;
          font-weight: bold;
        }

        span {
          color: #000;
        }
      }

      .icon-wrapper {
        background-color: #0267ff;
        height: 100%;
        width: 10%;
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
          width: 60px;
          height: 60px;
          font-size: 48px;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}

::ng-deep .mat-expansion-panel-body {
  background-color: #f6f4f5;

  p {
    margin-top: 20px;
  }
}

::ng-deep .mat-expansion-indicator::after {
  color: white;
}

::ng-deep .mat-content {
  height: 100% !important;
}
