.autoCharImage {
  font-size: 24px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: "Readex Pro", sans-serif;
  color: #fff;
  font-weight: 700;
}
